.sidebar {
    background: #093f6b;
    border-right: 1px solid rgba(255, 255, 255, 0.08);

    :global(.ant-menu-root > .ant-menu-submenu) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        margin-bottom: 4px;
        padding-bottom: 4px;
    }

    :global(.ant-menu-root > .ant-menu-item) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        border-radius: 0;
        margin-inline: 0;
        width: 100%;
    }

    :global(.ant-menu-root > .ant-menu-item:last-child) {
        border-bottom: none;
    }

    :global(.ant-menu-title-content) {
        text-align: left;
    }
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 64px;
    margin-bottom: 16px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.sidebarLogo {
    width: 64px;
}
