.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 24px;

    background: #fff;

    border-bottom: 1px solid #f0f0f0;
}

.title {
    margin: 0 !important;
}
